header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 1.25rem;
}

body {
    background-color: #f5f5f5;
    max-width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    padding: 5px;
}

.product-card {
    flex: 1 1 calc(33.333% - 20px); /* 3 per row minus gap */
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
}

.product-card img {
    width: 40%;
    height: auto;
    max-height: 350px;
    object-fit: contain; 
}

.product-card a {
    color: black;
    text-decoration: none; 
}

/* .product-card {
    display: flex;   
} */